{% extends "index.html" %}
{% block content %}

<div class="container">
  <div class="row align-items-start">
    <div class="col">
<iframe width="320" height="240"src="https://drive.google.com/file/d/1l9Rm1MnEil0Upr0ea7nHySrAQEuoXwNi/preview" width="640" height="480" allow="autoplay"></iframe>
      </iframe>
    </div>
    <div class="col">
<iframe width="320" height="240"src="https://drive.google.com/file/d/1l9Rm1MnEil0Upr0ea7nHySrAQEuoXwNi/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>
    <div class="col">
<iframe width="320" height="240"src="https://drive.google.com/file/d/1l9Rm1MnEil0Upr0ea7nHySrAQEuoXwNi/preview" width="640" height="480" allow="autoplay"></iframe>
      </iframe>
    </div>
  </div>
    <div class="row align-items-center">
    <div class="col">
        <button class="btn btn-primary "> Green</button>
        <button class="btn btn-danger "> Red</button>
        <button class="btn btn-warning "> Yellow</button>
    </div>
    <div class="col">
        <button class="btn btn-primary "> Green</button>
        <button class="btn btn-danger "> Red</button>
        <button class="btn btn-warning "> Yellow</button>
    </div>
    <div class="col">
        <button class="btn btn-primary "> Green</button>
        <button class="btn btn-danger "> Red</button>
        <button class="btn btn-warning ">Yellow</button>
    </div>
  </div>
</div>
{% endblock %}


{% block projects %}
<h2> Project Area </h2>
{% endblock %}