<!doctype html>
<html lang="en">
  <head>
    <title>{% block title%}Generate Pdf {% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
    footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    }

</style>
    </style>
  </head>

  <body>
    {% block content %}

    {% endblock %}

    <footer>
  <p>Author: Hege Refsnes<br>
  <a href="mailto:hege@example.com">hege@example.com</a></p>
</footer>
  </body>
</html>